<div class="flex items-center justify-center w-full">
  <button (click)="goToSignUpPage()" class="bg-[#1994ff] text-white rounded-lg p-[0.8rem] min-w-[10rem]  border-[1px] border-[#1994ff] focus:outline-none">
    Go to SignUp Page
  </button>
  </div>
<div class="container flex items-center justify-center min-h-screen">
    <div class="flex items-center w-[80%] rounded-xl bg-slate-100 border-rose-950 border-[1px]">
      <div class="max-w-[40%] w-full bg-[#1994ff2a] h-full relative flex flex-col justify-around">
        <img
          src="assets/img2.png"
          alt="img1"
          class="w-[7rem] pl-[2rem] pt-[2rem]"
        />
        <img
          src="assets/img1.png"
          alt="img-2"
          class="h-auto pl-[2rem] pt-[2rem]"
        />
      </div>
      <div class="w-full h-auto bg-transparent flex flex-col">
        <form
          *ngIf="!loginSuccessful"
          (ngSubmit)="onLogin()"
          class="flex flex-col h-max gap-4 items-start justify-around px-[8rem] text-[#0069D1] font-poppins"
        >
          <!-- <p class="text-black font-[600] text-[20px]">Welcome Back, Dev</p> -->
          <div class="flex flex-col gap-2">
            <label for="email" class="font-[600] text-[16px]">Enter Email ID</label>
            <input
              class="rounded-xl p-[0.8rem] min-w-[30rem] border-[1px] border-[#1994ff] focus:outline-none"
              type="text"
              id="email"
              placeholder="Loremipsum@gmail.com"
              [(ngModel)]="email"
              name="email"
              required
              [pattern]="emailPattern"
              #emailInput="ngModel"
              [ngClass]="{ 'border-red-500': emailInput.invalid && emailInput.touched }"
            />
            <div *ngIf="emailInput.invalid && emailInput.touched" class="text-red-500">
              Please enter a valid email address.
            </div>
          </div>
  
          <div class="flex flex-col gap-2">
            <label for="password">Enter Password</label>
            <input
              type="password"
              class="rounded-lg p-[0.8rem] min-w-[30rem] border-[1px] border-[#1994ff] focus:outline-none"
              id="password"
              placeholder="Password"
              [(ngModel)]="password"
              name="password"
              required
            />
          </div>
          <p *ngIf="errorMessage" class="text-red-600">{{ errorMessage }}</p>
  
          <button class="bg-[#1994ff] text-white rounded-lg p-[0.8rem] min-w-[30rem] border-[1px] border-[#1994ff] focus:outline-none">
            Next
          </button>
        </form>
  
        <div *ngIf="loginSuccessful" class=" flex flex-col justify-center items-center gap-4">
            <img src="assets/greenColor.png" alt="success" class="w-[5rem] h-[5rem] mx-auto" />
            <p class="text-[1.5rem] font-[450]">Logging you in....</p>
            <p  class="text-[1rem] ">Kindly wait as we are curating the data accordingly.</p>
        </div>
      </div>
    </div>
  </div>
  